/****************************************
* リセットCSS
*****************************************/
*, *::before, *::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
/****************************************
* フォント
*****************************************/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    font-family: 'Ubuntu Mono', monospace;
}


/****************************************
* CSS
*****************************************/
body {
    background-color: #ebebea;
}
/* ヘッダー */
header {
    width: 85%;
    margin: 0 auto;
}
.header-logo {
    text-align: center;
    padding: 30px 0;
}
.nav-list {
    display: flex;
}
.nav-item {
    width: 25%;
    text-align: center;
    padding: 10px 0;
}
.nav-item-des {
    display: inline-block;
    position: relative;
}
.nav-item-des a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* メイン */
main {
    width: 85%;
    margin: 0 auto;
}
.mv_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.profile {
    display: flex;
    height: 200px;
    margin: 50px;
}
.profile-title {
    margin-bottom: 30px;
}
.profile-des_inner {
    flex: 2;
}
.profile_img_inner {
    flex: 1;
}
.profile_img {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu {
    width: 85%;
    margin: 50px auto;
}
.menu-title {
    text-align: center;
    padding: 30px 0;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    padding: 30px 0;
}
.menu-item {
    width: 33.333%;
    height: 150px;
    margin-bottom: 40px;
    padding: 0 10px;
}
.menu-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    opacity : 0;
    transform : translate(0, 30px);
    transition: all 1500ms;
}
.menu-img.view {
    opacity: 1;
    transform : translate(0, 0px);
}
.etc {
    margin: 0 auto;
    width: 75%;
    text-align: right;
}
.feature {
    display: flex;
    margin: 100px 0;
    padding: 30px 0;
}
.feature_title {
    margin-bottom: 20px;
}
.feature-des {
    flex: 1;
    padding-right: 150px;
}
.feature_img_inner {
    flex: 1;
    max-height: 600px;
}
.feature_img {
    /* transition: all 0.3s; */
}
.feature_img.active {
    transition: all 0.3s;
    opacity: 0;
}
.feature-item {
    margin-bottom: 30px;
}
.news {
    margin: 50px 0;
}
.news_inner {
    width: 60%;
    margin: 0 auto;
}
.news-title {
    padding: 30px 0;
    text-align: center;
}
.news-item {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    opacity : 0;
    transform : translate(0, 30px);
    transition: all 1500ms;
}
.news-item.view {
    opacity: 1;
    transform : translate(0, 0px);
}
.news-des_inner {
    padding-left: 50px;
    border-bottom: 1px dotted #000;
    width: calc(100% - 75px);
    position: relative;
}
.news-des_inner a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-des-title {
    padding-top: 10px;
}
.news-img_inner {
    width: 75px;
    height: 75px;
}
.news-date {
    text-align: right;
}
.news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* フッター */
.footer_inner {
    width: 85%;
    height: 300px;
    background-image: url("../img/cafe_footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
}
.map-des_inner {
    flex: 1;
    padding: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}
.map_inner {
    flex: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);

}
.map_inner iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}
table {
    margin-top: 20px;
}
table,td {
    border: 1px solid #fff;
    border-collapse: collapse;
}
td {
    width: 150px;
    padding: 10px;
}
i {
    margin-right: 5px;
}
.copyright {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
}

/****************************************
* レスポンシブ対応
*****************************************/
@media screen and (max-width:768px) {
    .gnav {
        display: none;
    }
    .mv_inner {
        margin-bottom: 100px;
    }
    .mv_img {
        height: auto;
    }
    .profile {
        display: block;
        height: max-content;
        margin: 30px 0;
    }
    .profile-des {
        font-size: 0.8rem;
    }
    .profile_img_inner {
        height: 100px;
        margin-bottom: 15px;
    }
    .profile-title {
        text-align: center;
    }
    .profile_img {
        padding: 0;
        padding-bottom: 10px;
    }
    .menu-list {
        width: 100%;
        display: block;
    }
    .menu-item {
        width: 100%;
        margin-bottom: 60px;
    }
    .news_inner {
        width: 100%;
    }
    .news-img_inner {
        width: 50px;
        height: 50px;
    }
    .news-des_inner {
        padding-left: 10px;
    }
    .news-des-title {
        padding: 0;
        font-size: 0.8rem;
    }
    .news-date {
        font-size: 0.8rem;
    }
    .feature {
        display: block;
        margin-bottom: 50px;
    }
    .feature_title {
        text-align: center;
    }
    .footer_inner {
        display: block;
        height: auto;
    }
    .feature_img_inner {
        padding-bottom: 10px;
    }
    .feature-des {
        padding: 0;
    }
    .map-des_inner {
        padding: 10px;
    }
    .map-des_inner p {
        font-size: 0.8rem;
    }
    .map_inner iframe {
        width: 80%;
    }
    td {
        font-size: 0.7rem;
    }
    i {
        font-size: 1rem;
    }
    .copyright {
        font-size: 0.6rem;
    }
}